body {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

#content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

.block {
    clear: both;
    margin-bottom: 50px;
    position: relative;
}

.editor-container {
    width: calc(100% - 150px); 
    display: flex;
    flex-direction: row;
    position: relative;
}

.code-menu {
    position: absolute;
    top: 0px;
    right: -150px;
    z-index: 10;
    display: none;
}

.block:hover .code-menu {
    display: block;
}

.run-button {
    display: block;
    margin-bottom: 5px;
}

.edit-menu {
    top: 0px;
    left: -50vw;
    width: 50vw;
    height: 100%;
    background-color: #f0f0f0;
    position: absolute;
    display: none;
}

.block:hover .edit-menu {
    display: block;
}

.header {
    display: flex;
    flex-direction: row; 
}

.canvas-container {
    width: 100%;
    overflow: auto;
}

.canvas-container canvas {
    border: 1px solid #CCC;
}

.text-editor {
    width: 100%;
}

#blockTemplate {
    display: none;
}

.loading-image{
    display: none;
}

.loading .loading-image{
    display: block;
}

.loading .add-button{
    display: none;
}